body{
	background-color: #232323;
	margin:0;
	font-family: "Avenir";
}

.square{
	width:30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 43%;
	transition:background 0.6s;
	/*-webkit-transition:background 0.6s; 	in some browser transition proper does not work, in that 
											cace we can use this transition effect property
	-moz-transition:background 0.6s;*/
}

#container{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	text-align: center;
	font-weight:normal;
	text-transform: uppercase;
	color:white;
	background:steelblue;
	margin:0;
	padding:20px 0;
}

#colorDisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width:20%;
}
#stripe{
	background:white;
	height:30px;
	text-align:center;

}

.selected{
	color:white;
	background:steelblue;
}

button{
	border:none;
	background: none;
	text-transform:uppercase;
	height: 100%;
	font-weight:700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition:all 0.5s;
	outline: none;
}

button:hover{
	color:white;
	background:steelblue;
}